
[Unit]
Description=Dune Weaver WLED Application
After=network.target

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/python3 /home/kodell/dune-weaver-wled/app.py
WorkingDirectory=/home/kodell/dune-weaver-wled
Restart=always
RestartSec=10
StartLimitInterval=0
User=root
Group=root

[Install]
WantedBy=multi-user.target
