<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <title>LED Settings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>
    <body>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>

        <form id="form_s" name="Sf" method="post">
            <div class="toprow">
                <button type="button" onclick="goBack()">Back</button>
                <button type="submit">Save</button>
                <hr>
            </div>
    
            <label for="totalLeds">Total LEDs:</label>
            <input type="text" id="totalLeds" name="totalLeds" value="{{ data.totalLeds }}">
            <br>
            
            <label for="my_select">Color Order:</label>
            <select name="my_select" id="my_select">
                {% for option in options %}
                    <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>
                        {{ option }}
                    </option>
                {% endfor %}
            </select>
            <br>
            
            <label for="CA">Default Brightness:</label>
            <input name="CA" type="number" class="m" min="0" max="255" value="{{ data.brightness }}">
            (0-255)<br>
     
            <h3>Timed Light</h3>
            <label for="TL">Default Duration:</label>
            <input name="TL" type="number" class="m" min="1" max="255" value="{{ data.duration }}">
            min<br>
        </form>

        <div id="toast"></div>
    </body>
</html>
